@use "../../assets/styles/foundation/variables" as *;

.container.customers {
  height: 130vh;

  .row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .col {
      text-align: center;
    }

    .customers-slider {
      .swiper-wrapper {
        align-items: center;
      }

      .swiper-pagination {
        --swiper-pagination-bottom: -0.5rem;
      }

      .slider-card {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .customer-logo {
          max-width: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }

  @media screen and (min-width: #{$md-size}) {
    height: 150vh;
  }
}