.container.customers {
  .row {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .col {
      text-align: center;
    }

    .customers-slider {
      .swiper-wrapper {
        align-items: center;
      }

      .swiper-pagination {
        --swiper-pagination-bottom: -0.5rem;
      }

      .slider-card {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .customer-logo {
          max-width: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}