@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--footerColor);
  @include container-shadow;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.footer-copy {
      justify-content: center;
    }

    .col {
      * {
        color: #ffffff;
      }

      .heading-font {
        font-size: 1.4rem;
      }

      .footer-text {
        text-align: center;
        font-size: 0.8rem;
        opacity: 0.7;
      }

      .social-media-list {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .social-link {
          font-size: 1.5rem;
        }
      }

      .logo-link {
        img {
          height: 120px;
        }
      }
    }
  }
}