@use "../foundation/variables" as *;
@use "../foundation/palettes" as *;
@use "../foundation/mixins" as *;

#open-navbar {
  &:checked {
    ~ {
      @include navbar-open;
    }
  }
}

.navbar-toggle {
  height: $navbar-button-size;
  padding: 0.3rem;
  aspect-ratio: 1/1;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  // border: 2px solid $accent;
  border-radius: 5px;

  span {
    width: 100%;
    display: inline-block;
    border: 2px solid $accent;
    border-radius: 2px;
    background-color: $accent;
    transition: all $transition-duration ease-in-out;
  }
}

.header-navbar-container {
  position: fixed;
  top: $header-height;
  left: 0;
  padding: 2rem;
  min-width: 60%;
  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: $primary;
  transform: translateX(-100%);
  transition: all $transition-duration ease-in-out;
  @include container-shadow;

  .header-navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    .header-navbar-item {
      width: 100%;
      display: inline-block;

      .header-navbar-link {
        padding: 0.5em 1em;
        width: max-content;
        display: inline-block;
        font-size: 0.8em;
        color: $primaryText;
        border-radius: 5px;
        text-decoration: none;

        &.active,
        &:hover,
        &:focus-within {
          background-color: $darkGray;
          color: #FFFFFF;
        }
      }
    }
  }

  @media screen and (min-width: #{$md-size}) {
    position: static;
    padding: unset;
    min-width: unset;
    height: unset;
    align-items: center;
    flex-direction: row;
    align-items: center;
    background-color: unset;
    transform: unset;
    box-shadow: unset;

    .header-navbar-list {
      flex-direction: row;

      .header-navbar-item {
        .header-navbar-link {

          &:active,
          &.active {
            color: $accent;
          }

          &:hover,
          &:focus {
            background-color: unset;
            color: $accent;
          }
        }
      }
    }
  }
}

header {
  padding: 0.5rem 1rem;
  height: $header-height;
  background-color: $primary;

  .row {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .logo-link {
    margin-inline-end: auto;
    display: flex;

    @media screen and (min-width: #{$md-size}) {
      margin: unset;
    }

    img {
      height: 50px;
      object-fit: contain;
      object-position: center;
      filter: grayscale(100%) brightness(1000%) contrast(100%);
    }
  }
}