@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

#open-navbar {
  &:checked {
    ~ {
      @include navbar-open;
    }
  }
}

.navbar-toggle {
  height: $navbar-button-size;
  padding: 0.3rem;
  aspect-ratio: 1/1;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 5px;

  span {
    width: 100%;
    display: inline-block;
    border: 2px solid var(--accent);
    border-radius: 2px;
    background-color: var(--accent);
    transition: $site-transition;
  }
}

.header-navbar-container {
  position: fixed;
  top: $header-height;
  right: 0;
  padding: 2rem;
  min-width: 60%;
  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: var(--primary);
  transform: translateX(100%);
  transition: $site-transition;
  @include container-shadow;

  .header-navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    .header-navbar-item {
      padding: 0.5em 1em;
      width: 100%;
      display: inline-block;

      .active-effect {
        @include activeEffect(5px);
      }

      .header-navbar-link {
        width: max-content;
        display: inline-block;
        color: var(--primaryText);
        border-radius: 5px;
        text-decoration: none;

        .navbar-link-text {
          display: inline-block;
          font-size: 1.2rem;
        }
      }
    }
  }

  @media screen and (min-width: #{$md-size}) {
    position: static;
    padding: unset;
    min-width: unset;
    height: unset;
    align-items: center;
    flex-direction: row;
    align-items: center;
    background-color: unset;
    transform: unset;
    box-shadow: unset;

    .header-navbar-list {
      flex-direction: row;

      .header-navbar-item {
        .header-navbar-link {
          &:hover,
          &:focus {
            background-color: unset;
          }
        }
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  height: $header-height;
  background-color: var(--transparentPrimary);
  transition: $site-transition;
  z-index: 5;
  @include glassmorphism;

  &.scroll {
    @include container-shadow;
  }

  .row {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .logo-link {
    margin-inline-end: auto;

    @media screen and (min-width: #{$md-size}) {
      margin: unset;
    }
  }
}