@use "../../assets/styles/foundation/variables" as *;
@use "../../assets/styles/foundation/mixins" as *;

.container.services {
  .row {
    $elem-gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $elem-gap;

    .col {
      max-width: 100%;

      &.card {
        padding: 1rem 1rem 2rem;
        width: 100%;

        .services-list {
          width: 100%;
          max-width: 100%;
          display: flex;
          align-items: center;
          gap: clamp(0.5rem, 1vw, 1rem);

          .active-effect {
            @include activeEffect(clamp(30px, 8vw, 50px));
          }

          .service-item {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            cursor: pointer;

            .service-icon {
              width: 100%;
              display: flex;
              justify-content: center;

              img {
                width: 100%;
                object-fit: contain;
                object-position: center;
              }
            }

            .service-title {
              .h2 {
                display: block;
                text-align: center;
                font-size: clamp(0.5rem, 3vw, 1rem);
                font-weight: lighter;
              }
            }
          }
        }

        @media screen and (min-width: #{$md-size}) {
          width: 50%;
        }
      }
    }

    &.fatha-right {
      position: relative;
      height: 40vh;

      .service-details {
        position: absolute;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $elem-gap;
        transform: translateY(30%);
        transition: $site-transition;
        opacity: 0;

        &.active {
          transform: translateY(0);
          opacity: 1;
        }

        .heading-font {
          display: block;
          width: 10ch;
          text-align: center;
          line-height: 1;
        }

        .description {
          text-align: justify;
          font-size: 0.8rem;
        }
      }

      @media screen and (min-width: #{$md-size}) {
        height: 80vh;

        .service-details {
          width: 65%;

          .description {
            width: 80%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}