@use "../../assets/styles/foundation/variables" as *;

.container.projects {
  .row {
    $elem-gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $elem-gap;

    .col {
      max-width: 100%;

      .tools-sect {
        margin-bottom: 2rem;
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .projects-sect {
        --card-inner-gap: 2rem;

        hr {
          margin: 2rem var(--card-inner-gap);
          border: 1px solid var(--accent);
          border-radius: 1px;
          box-shadow:
            0 0 5px var(--transparentAccent),
            0 0 15px var(--transparentAccent),
            0 0 25px var(--transparentAccent),
            0 0 35px var(--transparentAccent),
            0 0 45px var(--transparentAccent),
            0 0 55px var(--transparentAccent);
        }
      }

      .no-results {
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
        color: var(--secondaryText);
      }
    }
  }
}